.kolumna{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    &--25{
        flex: 0 0 25%;
        max-width: 25%;
    }

    &--33{
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    &--50{
        flex: 0 0 50%;
        max-width: 50%;
    }

    &--67{
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }

    &--left{
        text-align: left;
    }
}