.nav{
    &__item{
        color: white;
        display: inline-block;
        padding-bottom: 7.5px;
        text-align: center;
        text-transform: uppercase;
        width: auto;
        margin-left: 25px;
        flex: 0 0 20%;
        max-width: 20%;
    }
}