p{
    font-weight: normal;
    margin: 0;
    line-height: 1.5;
    color: $jasny-niebieski;

    &__category{
        color: blue;
    }
}

a{
    text-decoration: none;
    color: white;

    &:hover{
        color: rgb(0, 102, 255);
        transform: 0.3s;
    }
}

h1{
    font-size: 60px;
    color: white;
    font-weight: initial;
}

h2{
    font-size: 40px;
    color: $szary;
    margin: 10px 10px;
}

h3{
    font-size: 40px;
    color: $szary;
    margin: 10px 10px;
    font-style: italic;
}

.p--bialy{
    font-weight: normal;
    line-height: 1.5;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

h4{
    color: rgb(0, 250, 237);
    font-size: 36px;
    font-weight: 100;
    padding: 10px 10px;
    margin: 0;
}

h5{
    font-size: 32px;
    font-style: italic;
    margin: 10px;
}