$czarny: rgb(7, 7, 7);
$bialy: rgb(255, 255, 255);
$czarny-ciemny: rgb(2, 10, 19);
$szary-ciemny: rgb(25, 25, 25);
$szary: rgb(75, 75, 75);
$niebieski: rgb(15, 60, 90);
$bialy-ciemny: rgb(232, 239, 244);

.przycisk{
    background: linear-gradient(180deg, #5B8AF8 0%, #3E5CC5 100%);
}