body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-weight: normal;
  margin: 0;
  line-height: 1.5;
  color: #5B8AF8;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #0066ff;
  -webkit-transform: 0.3s;
          transform: 0.3s;
}

h1 {
  font-size: 60px;
  color: white;
  font-weight: initial;
}

h2 {
  font-size: 40px;
  color: #4b4b4b;
  margin: 10px 10px;
}

h3 {
  font-size: 40px;
  color: #4b4b4b;
  margin: 10px 10px;
}

.p--bialy {
  font-weight: normal;
  line-height: 1.5;
  color: white;
  max-width: 700px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.kolumna {
  padding-left: 0px;
  padding-right: 20px;
  width: 100%;
}

.kolumna--25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.kolumna--33 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.kolumna--50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.kolumna--67 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666%;
          flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

.kolumna--left {
  text-align: left;
}

.kontener {
  width: 85%;
  margin-right: auto;
  margin-left: 15%;
  padding-right: 20px;
  padding-left: 20px;
}

.wiersz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;
}

.wiersz--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  color: white;
  display: inline-block;
  padding-bottom: 7.5px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  margin-left: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.naglowek {
  background-color: #070707;
  padding: 20px 20px;
  height: auto;
}

.menu {
  margin-top: 0;
  text-align: center;
}

.lista {
  margin: 0;
  padding: 0;
}

.images {
  width: 100%;
}

.przycisk {
  background: -webkit-gradient(linear, left top, left bottom, from(#5B8AF8), to(#3E5CC5));
  background: linear-gradient(180deg, #5B8AF8 0%, #3E5CC5 100%);
  border-radius: 5px;
  text-align: center;
  padding: 5px 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.przycisk:hover {
  color: white;
}

.pasek {
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(50%, #00b7ff), to(black));
  background: linear-gradient(90deg, black 0%, #00b7ff 50%, black 100%);
}

.sekcja1 {
  padding: 20px 20px;
  background: url(/images/bg-adbox.jpg) center, no-repeat, #0f3c5a;
}

.pudelko1 {
  max-width: 400px;
  margin-left: 15%;
  padding-left: 20px;
}

.pasek2 {
  width: 100%;
  background-color: #191919;
  padding: 20px 20px;
}

.szary-tekst {
  margin-left: 0px;
}

.niebieski-pasek {
  background-color: #0f3c5a;
  width: 100%;
}

.img {
  background: url(/images/spacecraft.jpg) 0 0 no-repeat;
  width: 301px;
  height: 162px;
  margin: 20px 20px;
  text-align: center;
}

.niebieski-tekst {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */