.niebieski-pasek{
    background-color: $niebieski;
    width: 100%;
    
}

.img{
    background: url(images/spacecraft.jpg) 0 0 no-repeat;
    width: 301px;
    min-width: 301px;
    height: 162px;
    margin: 30px 20px;
    text-align: center;
}

.niebieski-tekst{
    margin-top: 20px;
    margin-bottom: 20px;
}